.great-selection {
    padding: 1rem 0.8rem;
    text-align: center;

    h6 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    &-part {
        margin-top: 3rem;
        display: grid;
        grid-gap: 60px 10px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: repeat(2, 600px);
    }

    &__parts {
        position: relative;

        &:hover {
            button {
                opacity: 1;

            }
        }




        button {
            position: absolute;
            left: 50%;
            top: 65%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.5s ease;
            padding: 0.6rem 1.8rem;
            text-align: center;
            background-color: $primary-color;
            color: #fff;
            border: solid 2px $primary-color;
            z-index: 1;
            text-decoration: none;

            &:hover {
                background: #333;
                color: #fff;
            }


        }
    }
}