.middle-section {
    padding: 2rem;
    display: flex;

    @media (max-width:992px) {
        display: block;
    }


    &__left {
        margin-bottom: 1rem;
    }

    &__right {
        position: relative;
        padding-left: 1rem;

        @media (max-width:992px) {
            padding-left: 0;
        }

        &__content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-size: 5rem;
            }

            button {
                border: 1px solid #232323;
                background: #232323;
                padding: 8px 80px;
                font-size: 12px;
                color: #fff;
                margin-bottom: 20px;

                transition: all 0.4s ease-in;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: #232323;
                }

            }

            h6 {
                font-size: 2rem;
                margin-bottom: 20px;
            }

            input {
                padding: 5px 2px;
                width: 400px;
                border: none;
                border-bottom: 1px solid #232323;
                background: transparent;

                &:focus {
                    outline: none;
                }
            }
        }

    }
}